#step-2.cart__step-item
	.delivery

		h2 Доставка

		.delivery__item
			h3 Куда доставить

			.group-form
				label Адрес
				input(type="text" class="inp-text" placeholder="Город, улица, номер дома")
			.group-form-address
				input(type="text" class="inp-text" placeholder="Квартира")
				input(type="text" class="inp-text" placeholder="Этаж")
				input(type="text" class="inp-text" placeholder="Подъезд")

			.group-form
				label Комментарий курьеру
				textarea(placeholder="Как пройти, время, домофон")

		.delivery__item
			h3 Кому доставить

			.group-form
				label Имя и фамилия
				input(type="text" class="inp-text")
			.group-form
				label Номер телефона
				input(type="text" class="inp-text" placeholder="+7 (000) 000-00-00")
			.group-form
				label Адрес электронной почты
				input(type="text" class="inp-text")

	button(data-tab="3" class="next-step js-tabs") Перейти к оплате
