#step-4.cart__step-item

	.result

		h2 Заказ успешно оформлен!

		p Оплата успешно прошла и наш менеджер уже получил сообщение об этом. В ближайшее время он с вами свяжется и уточнит детали доставки.
		p Номер вашего заказа: X000000
		p Спасибо!



	button(data-tab="1" class="next-step js-tabs") Вернуться на главную