#step-3.cart__step-item

	.payment

		h2 Оплата

		.payment__item
			h3 Адрес доставки

			.group-form
				.group-form-radio
					input(type="radio" name="payment" id="online" checked)
					.group-form-radio__text
						label(for="online") Оплата онлайн
							span Банковской картой
				.group-form-radio
					input(type="radio" name="payment" id="ondelivery")
					.group-form-radio__text
						label(for="ondelivery") Оплата при получении
							span Наличными или банковской картой



		.payment__item
			h3 Данные карты
			.group-form
				label Владелец карты
				input(type="text" class="inp-text" placeholder="Имя и фамилия")
			.group-form
				label Номер карты
				input(type="text" class="inp-text" placeholder="XXXX XXXX XXXX XXXX")

			.group-form-card-info
				.group-form-card-info__item
					label Действительна до
					input(type="text" class="inp-text" placeholder="ММ / ГГ")
				.group-form-card-info__item
					label Код безопасности
					input(type="text" class="inp-text")



	button(data-tab="4" class="next-step js-tabs") Оплатить
