#step-1.cart__step-item.cart__step-item--1.opened
	h2 Ваша корзина

	.cart-list

		.cart-list-empty.hidden
			| В вашей корзине нет товаров.

		mixin cartItem(src, title, color, count, price, value, id, totalPrice)
			div(class="cart-list__item" id="item-"+id)
				.cart-list__img
					img(src= src alt= title)
				.cart-list__info
					p= title
					span= color
					span= count
				.cart-list__price
					span.price= price
				.cart-list__quantity
					.quantity
						input(type="text" value= value id="val-"+id)
						.quantity__arrows
							div(class="quantity__up js-increase" data-id= id)
							div(class="quantity__down js-decrease" data-id= id)
				.cart-list__item-summ
					span(class="price js-item-price" id="summ-"+id)= totalPrice
				.cart-list__del
					span(class="js-del" data-del= id)

		+cartItem('images/product1.jpg', 'Название товара', 'коричневый', 'Количество: 1', '10 500', 3, '1', '31500')
		+cartItem('images/product2.png', 'Название товара', 'серебристый', 'Количество: 1', '10500', 2, '2', '21000')
		+cartItem('images/product3.jpg', 'Название товара', 'черный', 'Количество: 1', '10500', 1, '3', '10500')


		.cart-list__summ
			span Итого товаров
			span.price.js-total-price 63000

	button(data-tab="2" class="next-step js-tabs") Перейти к доставке