doctype html
html(class="no-js", lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title Корзина. Тестовое задание
		meta(content="", name="description")
		meta(content="", name="keywords")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(content="telephone=no", name="format-detection")
		meta(name="HandheldFriendly", content="true")
		link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
		link(href="css/normalize.css" rel="stylesheet")
		link(href="css/main.css" rel="stylesheet")
	body
		.wrapper
			.cart
				include components/cart/aside.pug

				section.cart__content
					.cart-tabs
						div(data-tab="1" class="cart-tabs__item active js-tabs" id="tab-1") Корзина
						div(data-tab="2" class="cart-tabs__item js-tabs" id="tab-2") Доставка
						div(data-tab="3" class="cart-tabs__item js-tabs" id="tab-3") Оплата
						div(data-tab="4" class="cart-tabs__item js-tabs" id="tab-4") Статус

					.cart__steps
						include components/cart/step-1.pug
						include components/cart/step-2.pug
						include components/cart/step-3.pug
						include components/cart/step-4.pug

		script(src='js/cart.js')
