@import "vars";

.cart {
	padding: 25px 0 35px;
	display: flex;
	min-height: calc(100vh - 60px);

	&__total-info {
		background-color: $gray-dark;
		border-radius: 8px 0 0 8px;
		width: 35%;
		padding: 50px 45px 0 35px;
		box-sizing: border-box;

		h3 {
			margin: 0 0 32px;
		}
	}
	&__content {
		background-color: $gray-light;
		border-radius: 0 8px 8px 0;
		width: 65%;
		padding: 35px 45px;
		box-sizing: border-box;
	}
}

.order-content {
	display: flex;
	flex-flow: column;

	&__item {
		display: flex;
		justify-content: space-between;
		margin-top: 16px;

		&--price {
			.order-content__value {
				padding-right: 20px;
			}
		}
	}

	&__promocode {
		margin-top: 45px;
	}

	&__summ {
		padding-top: 44px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			top: 32px;
			height: 1px;
			background-color: #c0c0c0;
		}

		.order-content__item {
			font-size: 24px;
			font-weight: 700;
		}
	}
}

.cart-tabs {
	display: flex;

	&__item {
		padding: 17px 24px;
		border: 3px solid $black;
		border-right: 0;
		background-color: $gray-dark;
		font-weight: 600;
		cursor: pointer;
		position: relative;

		&:last-child {
			border-right: 3px solid $black;
		}

		a {
			text-decoration: none;
			color: $black
		}

		&.active {
			background-color: $gray-active;

			a {
				cursor: default;
			}
		}
	}
}



.cart__steps {
	margin-top: 50px;
}

.cart__step-item {
	position: absolute;
	width: 100%;
	display: none;
	flex-flow: column;
	align-items: flex-start;
	min-height: calc(100vh - 250px);

	&.opened {
		position: relative;
		display: flex;
	}

	h2 {
		margin: 0 0 30px;
	}

	h3 {
		margin: 0;
	}
}

.next-step {
	margin-top: auto;
}

.cart-list {
	margin-bottom: 30px;
	width: 100%;

	&__item {
		display: flex;
		align-items: center;
		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}
	}

	&__img {
		min-width: 90px;
		height: 90px;
		border: 1px solid #000;
		box-sizing: border-box;
		background-color: #fff;

		img {
			max-height: 88px;
			margin: 0 auto;
			display: block;
		}
	}

	&__info {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		min-height: 90px;
		padding: 0 20px;


		p {
			margin: 0 0 auto;
		}
	}

	&__price {
		margin-left: auto;
		min-width: 90px;
		text-align: center;
	}

	&__quantity {
		min-width: 94px;
		max-width: 94px;
		padding: 0 8px;
		box-sizing: border-box;

		input {
			width: 100%;
			height: 36px;
			border-radius: 8px 0 0 8px;
			box-sizing: border-box;
			border: 1px solid #000;
			border-right: 0;
			padding: 0 4px;
			box-sizing: border-box;
			text-align: center;
		}
	}

	&__item-summ {
		min-width: 100px;
		text-align: center;
	}

	&__del {
		min-width: 20px;
		text-align: center;

		span {
			width: 16px;
			height: 16px;
			display: block;
			margin: 0 auto;
			cursor: pointer;
			background: url(../images/delete.svg) 50% 50% no-repeat;
		}
	}

	&__summ {
		margin-top: 100px;
		display: flex;
		justify-content: space-between;
		font-size: 24px;
		font-weight: 700;
		padding-right: 20px;
	}
}

.quantity {
	position: relative;
	display: flex;

	&__arrows {
		min-width: 32px;
	}

	&__up {
		cursor: pointer;
		height: 18px;
		box-sizing: border-box;
		border: 1px solid #000;
		border-radius: 0 8px 0 0;
		background: $gray-dark url(../images/up.svg) 50% 50%/8px no-repeat;
	}

	&__down {
		cursor: pointer;
		height: 18px;
		box-sizing: border-box;
		border: 1px solid #000;
		border-top: 0;
		border-radius: 0 0 8px 0;
		background: $gray-dark url(../images/down.svg) 50% 50%/8px no-repeat;
	}
}


.delivery {
	margin-bottom: 30px;

	&__item {
		margin-top: 30px;
	}
}

.group-form {
	margin-top: 16px;
}
.group-form-address {
	display: flex;
	margin-top: 8px;

	input {
		width: 94px;
		margin-right: 9px;

		&:last-child {
			margin-right: 0;
		}
	}
}
.group-form-card-info {
	display: flex;
	margin-top: 24px;

	&__item {
		input {
			width: 146px;
		}
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.payment {
	margin-bottom: 30px;

	&__item {
		margin-top: 40px;
	}
}

.group-form-radio {
	display: flex;
	align-items: baseline;
	margin-top: 16px;

	&__text {
		margin-left: 4px;
	}

	label {
		font-size: 16px;
		cursor: pointer;
	}

	span {
		display: block;
		color: #929292;
	}
}

.hidden {
	display: none;
}