@import "vars";

// Common styles of the project

html, body {
	min-height: 100vh;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: $black;
}

.wrapper {
	max-width: 1420px;
	width: 100%;
	padding: 0 35px;
	box-sizing: border-box;
	margin: 0 auto;
}


