@import "vars";

h2 {
	font-size: 30px;
}

button.next-step {
	border-radius: 4px;
	background-color: $border-color;
	color: #fff;
	text-decoration: none;
	border: 0;
	padding: 13px 45px 11px;
	line-height: 1;
	cursor: pointer;
	transition: background-color .3s ease-in-out;

	&:hover {
		background-color: rgba($border-color, .8);
	}

	&:focus {
		outline: none;
	}
}


label {
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
}

.inp-text,
textarea {
	width: 300px;
	border: 1px solid $border-color;
	border-radius: 4px;
	padding: 0 8px;
	box-sizing: border-box;

	&:focus {
		outline: none;
	}
}
.inp-text {
	height: 36px;
}

textarea {
	height: 90px;
	resize: none;
	padding: 8px;
}

.price {
	position: relative;

	&:after {
		content: '₽';
		position: absolute;
		padding-left: 4px;
	}
}